body{
    background: #CB6363;
}
::placeholder {
  color: #fff !important; 
}

.container{
  max-width: 400px
}
input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.281);

}
.todos li{
  background: #D87E7E;
}
.delete{
  cursor: pointer;
}

span{
    color: white;
}
i{
    color: white;
}

.filtered{
  display: none !important;
}